<div class="card">
  <div class="word-container person">
    <fa-icon class="icon" [icon]="dogIcon"></fa-icon>
    <p class="word">{{card.person}}</p>
  </div>
  <div class="word-container object">
    <fa-icon class="icon" [icon]="boxIcon"></fa-icon>
    <p class="word">{{card.object}}</p>
  </div>
  <div class="word-container action">
    <fa-icon class="icon" [icon]="runIcon"></fa-icon>
    <p class="word">{{card.action}}</p>
  </div>
  <div class="word-container hard">
    <fa-icon class="icon" [icon]="warningIcon"></fa-icon>
    <p class="word">{{card.hard}}</p>
  </div>

  <div class="word-container everyone">
    <fa-icon class="icon" [icon]="groupIcon"></fa-icon>
    <p class="word">{{card.everyone}}</p>
  </div>


</div>
