$red:#6B0F1A;
$blue:#1E3888;
$yellow:#DDA448;
$green:#4C6663;
$orange:#F24C00;

$gray:#E7E7E7;
.form{
  position: relative;
  z-index: 10;
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  label{
    input{
      border: none;
      font-weight: bold;
      color: $green;
      border-bottom: 2px solid $green;
    }
  }
  .colors{
    cursor: pointer;
    margin:20px 0;
    width: 100%;
    height: auto;
    max-height: 450px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .color{
      width: 70px;
      height: 70px;
      margin: 5px;
      border-radius: 50%;

    }
    .selected{
      border: 4px solid #2B9720;
    }

  }
  .options{
    .btn-option{
      margin: 5px;
      border: 2px solid $green;
      color: $green;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
